<script>
    class $cro_slt010_drawer_cart_class extends HTMLElement{
        constructor(){
            super();
            this.sessionTag = '{{ sessionTag }}';
            this.currentCart = {{ cart | json }}; //remove quotes when updating the liquid file
            this.slug = 'slt010-cart-drawer';
        }
        connectedCallback(){
            console.log('slt010-cart-drawer added');
            this.updateCart();
        }
        hasNode($selector){
            return (this.querySelectorAll($selector).length > 0) ? true : false;
        }
        updateCart(){
            this.updateCartBody();
        }
        updateCartBody(){
            if(this.hasNode(this.slug + '-body')){
                if(this.currentCart.item_count > 0){
    
                }
                else{
                    this.emptyCartBody();
                }
            }
        }
        emptyCartBody(){
            const $empty = document.createElement('slt010-cart-drawer-empty');
            const $body = this.querySelector(this.slug + '-body');
            $empty.innerHTML = '<h4>{{ block.settings.title-empty }}</h4><p>{{ block.settings.content-empty }}</p>';
            $body.innerHTML = '';
            $body.appendChild($empty);
        }
    }
    customElements.define('slt010-cart-drawer', $cro_slt010_drawer_cart_class);
</script>