<div data-slt010-class="slt010-cart-drawer-progress-bar">
    <div data-shipping-progress-bar-inner="slt010-shipping-progress-bar">
        <div data-shipping-progress-bar-wrap="slt010-shipping-progress-bar">
            <div data-shipping-progress-bar-txt-wrap="slt010-shipping-progress-bar">
                <div data-shipping-progress-bar-msg="slt010-shipping-progress-bar">
                    You are $39.00 away from <strong>FREE DOMESTIC SHIPPING!</strong>
                </div>
            </div>
            <div data-shipping-progress-bar-bar-wrap="slt010-shipping-progress-bar" style="display: none;">
                <div data-shipping-progress-bar-bar="slt010-shipping-progress-bar" style="width: 0px;"></div>
            </div>
        </div>
    </div>
</div>