{{ 'component-saalt-modal.css' | asset_url | stylesheet_tag }}
<script src="{{ 'saalt-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'saalt-modal-body.js' | asset_url }}" defer="defer"></script>

<div>
  <h1>Ahoy hoy!</h1>
</div>
