<li class="icon-wrapper">
  {%- if icon_svg != blank or icon_svg != '' -%}
    <div class="icon-svg-wrapper">
      {{ icon_svg }}
    </div>
  {%- else -%}
    <div class="icon-svg-wrapper">
      {{ 'product-1' | placeholder_svg_tag }}
    </div>
  {%- endif -%}
  {%- if icon_text != blank -%}
    <span class="icon-text">
      {{- icon_text -}}
    </span>
  {%- endif -%}
</li>
