<fit-range>
  <h4>{{ fit_range.collection_name }}</h4>
  <div class="range-wrapper">
    <span class="range-text">Runs true to size</span>
    <div class="range-wrapper-inner">
      <span class="range-text">Runs small</span>
      <div class="range-bar">
        <div class="range-marker" style="left: {{ fit_range.range_position }}%;"></div>
      </div>
      <span class="range-text">Runs big</span>
    </div>
  </div>
</fit-range>
