{%- capture video_code -%}{{ video_obj | video_tag: autoplay: true, loop: true, muted: true, controls: true }}{%- endcapture -%}
{%- liquid
  if video_obj != blank
    assign final_video_code = video_code | replace: '<video', '<video class="video-element" '
  endif
-%}
<div class="media-wrapper video-wrapper">
  {%- if final_video_code -%}
    {{ final_video_code }}
  {%- else -%}
    {{ "lifestyle-1" | placeholder_svg_tag }}
  {%- endif -%}
</div>