<saalt-modal class="saalt-modal size-chart-modal" data-modal-button=".size-chart-button" role="dialog">
  <div class="inner-wrapper">
    <div class="close-button-wrapper">
      <button class="close-button">&times;</button>
    </div>
    <div class="chart-wrapper">
      {% render 'saalt-main-size-chart' %}
    </div>
  </div>
</saalt-modal>
