<div class="a-plus-content">.</div>

<script>
  function waitForElementToExist(selector) {
    return new Promise((resolve) => {
      if (document.querySelector(selector)) {
        return resolve(document.querySelector(selector));
      }

      const observer = new MutationObserver(() => {
        if (document.querySelector(selector)) {
          resolve(document.querySelector(selector));
          observer.disconnect();
        }
      });

      observer.observe(document.body, {
        subtree: true,
        childList: true,
      });
    });
  }

  const requestName = 'saalt-absorbency';
  const targetSelector = '.a-plus-content';
  const targetElement = document.querySelector(targetSelector);
  const requestType = 'sections';
  const el = document.createElement('h1');
  el.textContent = 'HELLO!';
  waitForElementToExist(targetSelector).then((element) => {
    console.clear();
    fetch(window.location.pathname + `?${requestType}=${requestName}`)
      .then((res) => res.json())
      .then((data) => (targetElement.innerHTML = data[requestName]));
  });
</script>

{% comment %}
  <script>
    const sectionName = 'saalt-absorbency';
    const element = document.querySelector('.a-plus-content');
    function handleResponse() {
      console.log(JSON.parse(this.responseText)[sectionName]);
      element.innerHTML = JSON.parse(this.responseText)[sectionName];
    }
    const request = new XMLHttpRequest();
    request.addEventListener('load', handleResponse);
    request.open('GET', `/?sections=${sectionName}`, true);
    request.send();
  </script>
{% endcomment %}

{% schema %}
{
  "name": "A+ Content",
  "presets": [
    {
      "name": "Saalt A+ Content",
      "category": "custom saalt section"
    }
  ]
}
{% endschema %}
