{{ 'component-size-chart.css' | asset_url | stylesheet_tag }}
<script src="{{ 'size-chart.js' | asset_url }}" defer="defer"></script>

<size-chart>
  {%- liquid
    assign titles = ''
    assign content = ''
    for block in section.blocks
      case block.type
        when 'saalt-size-chart'
          assign titles = titles | append: block.settings.size_chart_title
          unless forloop.last
            assign titles = titles | append: 'ʕ•ᴥ•ʔ'
          endunless
          assign content = content | append: block.settings.size_chart_page.content
          unless forloop.last
            assign content = content | append: 'ʕ•ᴥ•ʔ'
          endunless
      endcase
    endfor
    assign split_titles = titles | split: 'ʕ•ᴥ•ʔ'
    assign split_content = content | split: 'ʕ•ᴥ•ʔ'
  -%}

  <div class="size-chart-titles">
    <ul class="size-chart-titles-ul">
      {%- for title in split_titles -%}
        <li class="size-chart-titles-li">
          <button class="size-chart-title-button">{{ title }}</button>
        </li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="size-chart-content-tabs">
    {%- for content in split_content -%}
      <div class="size-chart-content-tab">{{ content }}</div>
    {%- endfor -%}
  </div>
</size-chart>

{% schema %}
{
  "name": "Saalt Size Chart",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID (Optional)",
      "info": "Typically only used when setting this ID as a link's destination."
    }
  ],
  "blocks": [
    {
      "type": "saalt-size-chart",
      "name": "Saalt Size Chart",
      "settings": [
        {
          "type": "text",
          "id": "size_chart_title",
          "label": "Size Chart Title",
          "info": "This is the title of the size chart tab"
        },
        {
          "type": "page",
          "id": "size_chart_page",
          "label": "Size Chart Page Content",
          "info": "Please select a page to use its content as a size chart tab"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Saalt Size Chart",
      "category": "custom saalt section",
      "settings": {},
      "blocks": [
        {
          "type": "saalt-size-chart",
          "settings": {}
        },
        {
          "type": "saalt-size-chart",
          "settings": {}
        },
        {
          "type": "saalt-size-chart",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}
