<section class="size-chart-section page-width">
  {% render 'saalt-main-size-chart', section: section %}
</section>

{% schema %}
{
  "name": "Saalt Size Chart",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID (Optional)",
      "info": "t:sections.all.section_id.info"
    },
    {
      "type": "paragraph",
      "content": "❗️NOTE❗️: In order to adjust the size chart accent colors, please go to the \"Theme colors\" section of the Theme settings"
    }
  ],
  "presets": [
    {
      "name": "Saalt Size Chart",
      "category": "custom saalt section",
      "settings": {},
      "blocks": []
    }
  ]
}
{% endschema %}
