fit-range,
fit-range .range-wrapper,
fit-range .range-wrapper .range-bar {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

fit-range,
fit-range .range-wrapper,
fit-range .range-wrapper .range-wrapper-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

fit-range {
  margin-bottom: var(--grid-desktop-horizontal-spacing);
}

fit-range:last-of-type {
  margin-bottom: unset;
}

fit-range h4 {
  margin: 0;
}

fit-range .range-wrapper .range-text {
  font-size: 1.25rem;
  text-align: center;
}

fit-range .range-wrapper .range-wrapper-inner {
  flex-direction: row;
  gap: 1rem;
}

fit-range .range-wrapper .range-wrapper-inner .range-bar {
  background: rgba(var(--color-foreground), 0.75);
  max-width: 48%;
  height: 0.125rem;
  flex: 3 3 0;
}

@media screen and (min-width: 750px) {
  fit-range .range-wrapper .range-wrapper-inner .range-bar {
    max-width: unset;
  }
}

fit-range .range-wrapper .range-bar .range-marker {
  display: block;
  position: absolute;
  background: rgb(var(--color-base-text));
  width: 2px;
  height: 1rem;
  top: -0.5rem;
}
