/* @media (max-width:992px){
  .window-display-inner-wrapper .window-feature-wrapper:first-child .text-wrapper .window-feature-title{
  font-size:15px!important;
  white-space:unset!important;
  height:unset!important
}
.window-display-inner-wrapper .text-wrapper .window-feature-title p{
  
}
.window-display-inner-wrapper .text-wrapper .window-feature-title p strong{
  
}
.window-display-inner-wrapper .text-wrapper .window-feature-copy p {
  text-align:left;
}
} */