.window-display-inner-wrapper .text-wrapper .window-feature-copy p{
  text-align: left;
}
label.variant_swatch.disabled {
    pointer-events: none !important;
  opacity: .3;
}
.video-content .media>*:not(.zoom):not(.deferred-media__poster-button){
  position: relative;
}
.header__menu-item span:hover {
    font-weight: 700 !important;
}
.multicolumn:not(.background-none) .multicolumn-card.auto-height{
  height: auto;
}
.video-content .media.media--transparent.media--adapt {
    padding-bottom: 25px;
}
@media (max-width: 767px) {
  .product--thumbnail .product__media-item:not(.is-active),
  .product--thumbnail_slider .product__media-item:not(.is-active) {
    display: block; /* No !important needed */
  }
}

/* For desktop devices */
@media (min-width: 768px) {
  .product--thumbnail .product__media-item:not(.is-active),
  .product--thumbnail_slider .product__media-item:not(.is-active) {
    display: none !important; /* Apply !important for desktop */
  }
}
@media (min-width:768px) and (max-width:992px){
  .window-display-inner-wrapper .window-feature-wrapper:first-child .text-wrapper .window-feature-title{
  white-space:unset!important;
}
  .window-display-inner-wrapper .window-feature-wrapper .text-wrapper .window-feature-title{
  font-size:12px!important;
}

.window-display-inner-wrapper .text-wrapper .window-feature-copy p {
  text-align:left;
  font-size:12px!important;
}
}
@media (max-width:767px){
  .window-display-inner-wrapper .window-feature-wrapper .window-feature{
    justify-content:flex-start!important;
  }
  .window-display-inner-wrapper .window-feature-wrapper .text-wrapper .window-feature-title{
  font-size:10.047px!important;
}
.window-display-inner-wrapper .text-wrapper .window-feature-copy p {
  text-align:left;
  font-size:12px!important;
}
}

.absorbency-drops_icons-wrapper,
.saalt-wear-styles_icons-wrapper{
  border-bottom:unset!important;
}

.non-megamenu-top{
  position:relative!important;
}
.header__inline-menu .non-megamenu{
  width:fit-content;
}
.header__inline-menu .non-megamenu .mega-menu__list li{
  width:210px;
}
label.absorbency-option {
   display: flex;
   border: 1px solid #E0E0E0;
   padding: 0px 5px;
   cursor: pointer;
   border-radius: 7px;
}
.absorbency-radio-buttons {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}
.absorbency-drops_inner-icon-wrapper.empty svg.absorbency-icon {
    fill: #E0E0E0;
    color: transparent;
}
.absorbency-drops_inner-icon-wrapper svg.absorbency-icon {
    fill: rgba(var(--color-icons), var(--color-icons-opacity));
    color: #CDCDCD;
    stroke: #CDCDCD;
    stroke-width: 1px;
}
.absorbency-drops_inner-icon-wrapper {
    padding: 1px;
}
.abs-swatch {
    display: flex;
    flex-direction: column-reverse;
}
label.absorbency-option.selected {
  box-shadow: 0px 0px 0px 1px #000;
}
label.variant_swatch.disabled{
    position:relative;
}
label.variant_swatch.disabled:after {
    content: "";
    transform: rotate(45deg);
    position: absolute;
    display: block;
    width: 100%;
    border: none;
    border-top: 3px solid #E0E0E0 !important;
    left: 0;
}
  @media screen and (max-width: 576px){
  .card-information {
    position: relative;
    z-index: 2;
}
    .header__heading-logo {
        height: auto;
        max-width: none;
    }
      .header__icons.header__icons--localization.header__localization {
        width: auto !important;
        margin-left: auto !important;
    }
  }
label.variant_swatch.disabled {
    opacity: .3;
}

/*header Update*/
.header__icons.header__icons--localization.header__localization {
    width: 20%;
    margin-left: auto;
}
header.header.header--top-left.header--mobile-left.page-width.header--has-menu.header--has-social.header--has-account {
    width: 100%;
    display: flex;
}
h1.header__heading {
    width: 10%;
}
.header__icons.header__icons--localization.header__localization {
    width: 20%;
    margin-left: auto;
}
nav.header__inline-menu {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
}
.header__menu-item span {
    font-weight: 500;
}
.header__active-menu-item{
  font-weight: 700 !important;
}


// Code By AS
.header__menu-item:hover{
  text-decoration:none;
  border-bottom:none;
}
.header__menu-item:hover span{
  text-decoration:none;
  border-bottom:none;
}
body .mega-menu__link:hover{
  text-decoration:none;
  border-bottom:none;
}
body .mega-menu__link:hover span{
  text-decoration:none;
  border-bottom:none;
}
body .mega-menu__link--active{
  text-decoration:none;
  border-bottom:none;
}
body .mega-menu .header__menu-item.link:hover{
  text-decoration:none;
  border-bottom:none;
}
body .mega-menu .header__menu-item.link:hover span{
  text-decoration:none;
  border-bottom:none;
}
body details[open]>.header__menu-item{
  text-decoration:none;
}

body .mega-menu .mega-menu__content:not(.non-megamenu) .mega-menu__list .mega-menu__link--level-2{
  text-decoration:underline!important;
}
body .mega-menu.non-megamenu-top .mega-menu__content .mega-menu__list li .mega-menu__link--level-2:hover{
  font-weight:700!important;
}
body .mega-menu:not(.non-megamenu-top) .mega-menu__content .mega-menu__list li .mega-menu__link--level-3 a:hover .link-title{
  font-weight:700!important;
}

body .mega-menu .mega-menu__content:not(.non-megamenu) .mega-menu__list .mega-menu__link--level-2.no-child{
  text-decoration:none!important;
}
body .mega-menu .mega-menu__content:not(.non-megamenu) .mega-menu__list .mega-menu__link--level-2.no-child:hover{
  font-weight:bold;
}