.quiz-content {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 50px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
h4.collection-hero__title {
    max-width: 600px;
    font-size: 26px !important;
    font-weight: 300 !important;
    color: #575f6f;
    line-height: 1.27;
    text-align: center;
    margin: 0 auto;
}
.collection-hero__description.rte {
    font-size: 15px!important;
    font-weight: 600!important;
    text-align: center;
    padding-top: 10px;
}
.cup-heading h2, .salt-wear h2 {
    font-size: 14px!important;
    font-weight: 300!important;
    color: #575f6f!important;
    text-align: left!important;
    line-height: 1.5!important;
    text-transform: uppercase;
    border-bottom: solid 1px #F7D6C5;
    margin-bottom: 30px;
    margin-top: 60px;
    letter-spacing: normal;
}
.salt-wear-description{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px!important;
    color: #223c52!important;
    line-height: 26px;
    text-align: center !important;
    display: block;
    margin-bottom: 25px;
    padding-left: 10%;
    padding-right: 10%;
}
.ColorSwatch--large{
  height: 50px;
  width: 50px;
}
.quiz-result-button {
    background: #F7D6C5;
    font-family: var(--heading-font-family);
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    padding: 8px 20px;
    border-radius: 120px;
    border: solid 1px #F7D6C5;
    transition: background-color .3s,border-color .3s;
    display: inline-block;
}