.mega-menu__link--level-3 > a.mega-menu__link.link,
a.menu-drawer__menu-item.link.link--text.list-menu__item.focus-inset,
.absorbency-drops_icons-wrapper,
.absorbency-drops_icons-wrapper .inner-wrapper {
  display: inline-flex;
}

.absorbency-drops_icons-wrapper {
  gap: 0.125rem;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.mobile-facets__item .absorbency-drops_icons-wrapper .absorbency-icon {
  height: auto;
}

label.facet-checkbox .absorbency-drops_icons-wrapper,
label.facet-checkbox .absorbency-drops_icons-wrapper .absorbency-icon {
  width: auto;
  height: 1rem;
}

.absorbency-drops_icons-wrapper .absorbency-drops_inner-icon-wrapper {
  display: inline-flex;
  flex: 1 1 0;
  width: 100%;
  max-width: 1.5rem;
  height: auto;
}

a .absorbency-drops_icons-wrapper {
  display: inline-flex;
  gap: 0.125rem;
  align-items: center;
  padding-bottom: 2px;
  margin-top: 3px;
  padding-left: 0.5rem;
  border-bottom: 1px solid transparent;
  height: 1.35rem;
}

a .absorbency-drops_icons-wrapper svg.absorbency-icon,
a .absorbency-drops_inner-icon-wrapper svg.absorbency-icon,
.mobile-facets__item .absorbency-drops_icons-wrapper svg.absorbency-icon {
  width: auto;
  height: 1.125rem;
  margin-left: 0.125rem;
}

a.menu-drawer__menu-item .absorbency-drops_icons-wrapper svg.absorbency-icon,
a.menu-drawer__menu-item .absorbency-drops_inner-icon-wrapper svg.absorbency-icon {
  height: 1.25rem;
}

.menu-drawer__menu-item .absorbency-drops_icons-wrapper {
  margin-top: 0.5rem;
}

.absorbency-drops_icons-wrapper .absorbency-drops_inner-icon-wrapper svg.absorbency-icon {
  fill: rgba(var(--color-icons), var(--color-icons-opacity));
  color: rgba(var(--color-icons), var(--color-icons-opacity));
  stroke: rgba(var(--color-icons), var(--color-icons-opacity));
  stroke-width: 1px;
}

.absorbency-drops_icons-wrapper .absorbency-drops_inner-icon-wrapper.empty svg.absorbency-icon {
  fill: rgba(var(--color-site-background), 1);
  color: transparent;
}

label.facet-checkbox {
  display: flex;
  align-items: center;
}

label.facet-checkbox .absorbency-drops_icons-wrapper {
  margin-top: 0;
}

a div.menu-spacer,
label.facet-checkbox div.menu-spacer,
.mobile-facets__item div.menu-spacer {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: transparent;
  font-size: 0;
  padding: 0 0.15rem;
}

a:not(.active-facets__button):not(.menu-drawer__menu-item):hover div.menu-spacer,
a:not(.active-facets__button):not(.menu-drawer__menu-item):hover .absorbency-drops_icons-wrapper {
  border-bottom: 1px solid rgb(var(--color-foreground));
}

facet-remove a .absorbency-drops_icons-wrapper,
facet-remove a .absorbency-drops_inner-icon-wrapper {
  width: unset;
  margin-top: unset;
  height: unset;
  margin-left: unset;
}

facet-remove a .absorbency-drops_icons-wrapper {
  padding-left: 0;
}

facet-remove a .absorbency-drops_icons-wrapper svg.absorbency-icon,
facet-remove a .absorbency-drops_inner-icon-wrapper svg.absorbency-icon {
  width: auto;
  margin-top: 0.2rem;
  height: 0.8rem;
  margin-left: 0.25rem;
}

@media screen and (min-width: 990px) {
  facet-remove a .absorbency-drops_inner-icon-wrapper {
    margin-top: 0.125rem;
  }
  facet-remove a .absorbency-drops_icons-wrapper svg.absorbency-icon,
  facet-remove a .absorbency-drops_inner-icon-wrapper svg.absorbency-icon {
    width: auto;
    height: 1.125rem;
    margin-left: 0.5rem;
  }
}
