.mega-menu__link--level-3 > a.mega-menu__link.link,
a.menu-drawer__menu-item.link.link--text.list-menu__item.focus-inset,
.saalt-wear-silhouettes_icons-wrapper,
.saalt-wear-silhouettes_icons-wrapper .inner-wrapper {
  display: inline-flex;
}

.saalt-wear-silhouettes_icons-wrapper {
  gap: 0.125rem;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.mobile-facets__item .saalt-wear-silhouettes_icons-wrapper .silhouette-icon {
  height: auto;
}

label.facet-checkbox .saalt-wear-silhouettes_icons-wrapper,
label.facet-checkbox .saalt-wear-silhouettes_icons-wrapper .silhouette-icon,
label.facet-checkbox .saalt-wear-silhouettes_icons-wrapper .silhouette-icon svg {
  width: auto;
  height: 1rem;
}

.saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper {
  display: inline-flex;
  flex: 1 1 0;
  width: auto;
  height: 1.5rem;
}

a.menu-drawer__menu-item.link.link--text.list-menu__item.focus-inset
  .saalt-wear-silhouettes_icons-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper {
  height: 1.5rem;
}

a .saalt-wear-silhouettes_icons-wrapper {
  display: inline-flex;
  gap: 0.125rem;
  align-items: center;
  border-bottom: 1px solid transparent;
  margin-top: 0.1rem;
}

a .saalt-wear-silhouettes_icons-wrapper .silhouette-icon,
a .saalt-wear-silhouettes_icons-wrapper .silhouette-icon svg,
a .saalt-wear-silhouettes_inner-icon-wrapper .silhouette-icon svg,
.mobile-facets__item .saalt-wear-silhouettes_icons-wrapper .silhouette-icon svg {
  width: auto;
  height: 1.125rem;
}

a.menu-drawer__menu-item .saalt-wear-silhouettes_icons-wrapper .silhouette-icon svg,
a.menu-drawer__menu-item .saalt-wear-silhouettes_inner-icon-wrapper .silhouette-icon svg {
  height: 1.25rem;
  margin-bottom: 4px;
}

.saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper.empty .silhouette-icon svg {
  fill: transparent;
  color: transparent;
  stroke: rgba(var(--color-foreground), 0.75);
  stroke-width: 1.75rem;
}

label.facet-checkbox {
  display: flex;
  align-items: center;
}

label.facet-checkbox .saalt-wear-silhouettes_icons-wrapper {
  margin-top: 0;
}

a div.menu-spacer,
label.facet-checkbox div.menu-spacer,
.mobile-facets__item div.menu-spacer {
  display: inline-block;
  border-bottom: 1px solid transparent;
  color: transparent;
  font-size: 0;
  padding: 0 0.15rem;
}

a:not(.active-facets__button):not(.menu-drawer__menu-item):hover div.menu-spacer,
a:not(.active-facets__button):not(.menu-drawer__menu-item):hover .saalt-wear-silhouettes_icons-wrapper {
  border-bottom: 1px solid rgb(var(--color-foreground));
}

.active-facets__button
  .saalt-wear-silhouettes_icons-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper
  .silhouette-icon
  svg {
  margin-left: unset;
}

facet-remove a .saalt-wear-silhouettes_icons-wrapper,
facet-remove a .saalt-wear-silhouettes_inner-icon-wrapper {
  width: unset;
  margin-top: unset;
  height: unset;
  margin-left: unset;
}

label.facet-checkbox .saalt-wear-silhouettes_icons-wrapper,
facet-remove a .saalt-wear-silhouettes_icons-wrapper .silhouette-icon,
facet-remove a .saalt-wear-silhouettes_inner-icon-wrapper .silhouette-icon {
  margin-left: 0.25rem;
}

.active-facets-mobile facet-remove a .saalt-wear-silhouettes_icons-wrapper,
.active-facets-mobile facet-remove a .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper,
.active-facets-mobile
  facet-remove
  a
  .saalt-wear-silhouettes_icons-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper
  .silhouette-icon,
.active-facets-mobile
  facet-remove
  a
  .saalt-wear-silhouettes_icons-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper
  .silhouette-icon
  svg,
.active-facets-mobile
  facet-remove
  a
  .saalt-wear-silhouettes_inner-icon-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper
  .silhouette-icon
  svg {
  width: auto;
  height: 1rem;
  margin-left: 0;
}

facet-remove a .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper,
facet-remove a .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper .silhouette-icon,
facet-remove a .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper .silhouette-icon svg,
facet-remove
  a
  .saalt-wear-silhouettes_inner-icon-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper
  .silhouette-icon
  svg {
  width: auto;
  height: 1rem;
}

facet-remove a.active-facets__button .saalt-wear-silhouettes_icons-wrapper + svg.icon-close-small,
facet-remove a.active-facets__button .saalt-wear-silhouettes_icons-wrapper + svg.icon-close-small {
  margin-right: unset;
  margin-left: 0.5rem;
}

label.mobile-facets__label .saalt-wear-silhouettes_icons-wrapper,
label.mobile-facets__label .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper,
label.mobile-facets__label
  .saalt-wear-silhouettes_icons-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper
  .silhouette-icon,
label.mobile-facets__label
  .saalt-wear-silhouettes_icons-wrapper
  .saalt-wear-silhouettes_inner-icon-wrapper
  .silhouette-icon
  svg {
  display: flex;
  align-items: center;
}

label.mobile-facets__label .saalt-wear-silhouettes_icons-wrapper,
.active-facets-mobile facet-remove a .saalt-wear-silhouettes_icons-wrapper {
  margin-top: 2px;
  margin-left: 0.25rem;
}

@media screen and (min-width: 990px) {
  facet-remove a .saalt-wear-silhouettes_inner-icon-wrapper {
    margin-top: 0.125rem;
  }
  facet-remove a .saalt-wear-silhouettes_icons-wrapper {
    margin-left: 0.25rem;
  }
  facet-remove a .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper,
  facet-remove a .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper .silhouette-icon,
  facet-remove a .saalt-wear-silhouettes_icons-wrapper .saalt-wear-silhouettes_inner-icon-wrapper .silhouette-icon svg,
  facet-remove
    a
    .saalt-wear-silhouettes_inner-icon-wrapper
    .saalt-wear-silhouettes_inner-icon-wrapper
    .silhouette-icon
    svg {
    margin-bottom: 1px;
    margin-left: 0;
    height: 1.125rem;
  }
  facet-remove a.active-facets__button .saalt-wear-silhouettes_icons-wrapper + svg.icon-close-small,
  facet-remove a.active-facets__button .saalt-wear-silhouettes_icons-wrapper + svg.icon-close-small {
    margin-right: unset;
    margin-left: 1rem;
  }
}
